Project background:
- You are building a website where users can create stylised livestreams that others can view. Users can start stream via their webcam on a website or via a raspberry pi. Other users can then watch this stream on a public URL. What differentiates this product is that the images/video stream uploaded is stylised using an img2img diffusion model. The idea is that this would set up at a home party, a bar, or any other place for people to interact with the stream of themselves or to creatively share whats happening with others.
- I am hosting a websocket server on render.com.

When using NextJS:
- Use typescript
- Use shadcn components
- Make the design intuitive. You are a designer from apple. 
- Explain design choices. 
- Use NextJS 15 or 14